@charset 'utf-8';

/**FOOTER******************/
footer {
    width: 100%;
    /*height: 400px;*/
    background-color: #6a6762;
}

.inner_notice {
    background-color: #f4f4f2;
    width: 100%;
    height: 60px;
    line-height: 60px;
    margin-top: 150px;
}

.notice_wrap {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
}

.notice {}

.notice li {
    text-align: left;
    width: 28%;
    float: left;
    font-size: 15px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: -0.5px;
}
.notice li a span {
    font-size: 10px;
    vertical-align: bottom;
    padding: 0 10px;
}

.notice p a.more {
    width: 15%;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #5d5d5d;
}

.sns_ico {
    float: right;
}

.sns_ico a {
    display: inline-block;
    width: 38px;
    height: 38px;
    text-indent: -9999px;
    margin-right: 10px;
    margin-top: 10px;
}

.sns_ico a:hover {
    background-position: right bottom;
}

.sns_ico a:first-child {
    background: url(../img/sns_ico_instar.png) no-repeat left;
    background-size: ;

}

.sns_ico a:nth-child(2) {
    background: url(../img/sns_ico_facebook.png) no-repeat left;
}

.sns_ico a:nth-child(3) {
    background: url(../img/sns_ico_twitter.png) no-repeat left;
}

.sns_ico a:nth-child(4) {
    background: url(../img/sns_ico_youtube.png) no-repeat left;
}

.inner_footer {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    color: #eee;
    letter-spacing: -0.8px;
    position: relative;
}

.inner_footer > img {
    padding: 40px 0;
    display: block;
}

.footer_top {
    border-top: 1px solid #eee;
}

.sitemap {}

.sitemap a {
    display: block;
    float: left;
    margin-right: 10px;
    color: #eee;
    padding: 20px 0;
    font-weight: 600;

}

.sitemap a:last-child {
    font-weight: 400;
}

.inner_footer .footer_left {
    width: 60%;
    float: left;
    margin-bottom: 30px;
}

.inner_footer .footer_left > p {
    line-height: 30px;
}

.inner_footer .footer_right {
    width: 40%;
    position: absolute;
    right: 0;
    top: 180px;
    /*outline: 1px solid red;*/

}

.footer_right > img {
    display: block;
    position: relative;
    left: 20px;
}

.footer_right .ft_txt p {
    float: left;
    font-size: 13px;
    text-align: center;
    margin-right: 20px;
    line-height: 16px;
}

.footer_right .ft_txt p:last-child {
    margin-right: 0;
}

.copy {
    display: block;
    width: 100%;
    padding-bottom: 40px;
    margin-top: 140px;
    line-height: 30px;
    text-align: left;
}
