@charset "utf-8";


* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
li {
    list-style: none;
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.inner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    display: block;
    clear: both;
}
section {
    margin-top: 300px;
}
.his1969 {
    
}
.his1969 img{
    float: left;
}
.his1969 .txt{
    float: right;
}
.his1974 {
    
}
.his1983 {
    
}